<br>
<div class="contenedor">
       <h3>Asi soy yo:</h3>
       <p>
       <p align="center">Foto de perfil: <img src="<%= Avatar %> "></p>
        <div class="left">
         <p>Nombre: <%= Nombre %></p>
         <p>Nacimiento: <%= Nacimiento %></p>
        <p>Nacionalidad: <%= Nacionalidad %></p>
        <p>Hobby: <%= Hobby %></p>
        <p>Profesion: <%= Profesion %></p>
        </div>
       <ol>
          <li><a href="https://twitter.com/pepetry"><img src="/images/twitter.svg" type=""/></a></li>
          <li><a href="https://github.com/JJesusGonzalez/quiz"><img src="/images/github.svg"/></a></li>
          <li><a href="https://www.youtube.com/user/pepetry"><img src="/images/youtube30.svg"/></a></li>
       </ol>

</div>
