<br>
<div class="contenedor">
   <div class="left">
       <h3>Asi soy yo:</h3>
       <p>
       <p>Foto de perfil: <br><img src="<%= Avatar %> "></p>
       <br>
        <p>Nombre: <%= Nombre %></p>
       <br>
        <p>Nacimiento: <%= Nacimiento %></p>
       <br>
        <p>Nacionalidad: <%= Nacionalidad %></p>
       <br>
        <p>Hobby: <%= Hobby %></p>
       <br>
        <p>Profesion: <%= Profesion %></p>


       <ol>
          <li><a href="https://twitter.com/pepetry"><img src="/images/twitter.svg" type=""/></a></li>
           <li><a href="https://github.com/JJesusGonzalez/quiz"><img src="/images/github.svg"/></a></li>
           <li><a href="https://www.youtube.com/user/pepetry"><img src="/images/youtube30.svg"/></a></li>
       </ol>
   </div>
</div>
