
<div class="contenedor">
       <h2>Algo sobre mí:</h2>
   	   <h3 align="left">Imagen:</h3>
 		<p><img src="<%= Avatar %> " align="middle"></p>
      <div class="left">
        <p>Nombre: <%= Nombre %></p>
        <p>Nacimiento: <%= Nacimiento %></p>
        <p>Nacionalidad: <%= Nacionalidad %></p>
        <p>Hobby: <%= Hobby %></p>
        <p>Profesion: <%= Profesion %></p>
  	 </div>
</div>

       <table width="80%" border="0">
         <tr>
           <td><div align="center"><a href="https://twitter.com/pepetry"><img src="/images/twitter.svg"/></a></div></td>
           <td><div align="center"><a href="https://github.com/JJesusGonzalez/quiz"><img src="/images/github.svg"/></a></div></td>
           <td><div align="center"><a href="https://www.youtube.com/user/pepetry"><img src="/images/youtube30.svg"/></a></div></td>
         </tr>
       </table>
