<table width="90%" border="0">
  <tr>
    <th width="27%" scope="row"><h2 align="center">Algo sobre mí:</h2></th>
    <td width="24%"><div align="center"></div></td>
    <td width="16%"><div align="center"><a href="https://twitter.com/pepetry"><img src="/images/twitter.svg" align="middle"/></a></div></td>
    <td width="16%"><div align="center"><a href="https://github.com/JJesusGonzalez/quiz"><img src="/images/github.svg" align="middle"/></a></div></td>
    <td width="17%"><div align="center"><a href="https://www.youtube.com/user/pepetry"><img src="/images/youtube30.svg" align="middle"/></a></div></td>
  </tr>
  <tr>
    <th scope="row"><h3 align="right">Imagen:</h3></th>
    <td><div align="left"><img src="<%= Avatar %> " align="middle"></div></td>
    <td><div align="left"></div></td>
    <td><div align="left"></div></td>
    <td><div align="left"></div></td>
  </tr>
</table>

        <table width="100%" border="0">
  <tr>
    <th width="72%" scope="row"><p align="left">Nombre: <%= Nombre %></p>
      <p align="left">Nacimiento: <%= Nacimiento %></p>
      <p align="left">Nacionalidad: <%= Nacionalidad %></p>
      <p align="left">Hobby: <%= Hobby %></p>
      <p align="left">Profesion: <%= Profesion %></p></th>
    <td width="28%"><div align="center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/WIFw2Sk4GsU?list=PL_Iue8hlkPSiYX8UCp0R8KNkQGlM6zitn" frameborder="0" allowfullscreen></iframe></td>
  </tr>
</table>